html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    font: white;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.img-2{
    width: 100vw;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border: 0;
}
.header{
    height: 100px;
}
.logo{
    width: 85.75px;
    height: auto;
}
.menu{
    width: 35px;
    height: auto;
}
.About{
    color: white;
}
.testo{
    color: white;
}
.Tony-Krueger{
    color: white;
}
.footer{
    color: white;
    height: 60px;
}